html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

body section {
  width: 100%;
  height: 100vh;
  margin: 35px auto;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

body section h2 {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
}

body section h2::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 300px;
  height: 1.5px;
  background-color: black;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

header nav {
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: appear 1.2s ease 3.2s both;
          animation: appear 1.2s ease 3.2s both;
}

header nav ul {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  color: black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  right: 0;
  bottom: -1px;
  background-color: black;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

header nav ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav ul li a:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header div.name {
  position: absolute;
  width: 650px;
  height: 150px;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 25px;
  text-align: center;
}

header div.name h1 {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 50px;
}

header div.name h1 img {
  height: 45px;
}

header div.name p.front {
  margin: 0;
  font-size: 30px;
}

header div.name p.front span {
  font-style: italic;
}

header figure {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
}

header figure img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

header .meet-me {
  position: absolute;
  left: 50%;
  top: 85%;
  font-size: 30px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  text-align: center;
}

header .meet-me img {
  height: 30px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.about {
  position: relative;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about div {
  position: relative;
  width: 40%;
  height: 40%;
  overflow: hidden;
}

.about div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
}
/*# sourceMappingURL=stylee.css.map */