html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 30px;
}

img {
  border-radius: 20px;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

body section {
  width: 100%;
  height: 100vh;
  margin: 35px auto;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

body section h2 {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
}

body section h2::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 300px;
  height: 1.5px;
  background-color: black;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

header nav {
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: appear 1.2s ease 3.2s both;
          animation: appear 1.2s ease 3.2s both;
}

header nav ul {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  right: 0;
  bottom: -1px;
  background-color: black;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav ul li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header nav ul li a:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header div.name {
  position: absolute;
  width: 650px;
  height: 150px;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 25px;
  text-align: center;
}

header div.name h1 {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 50px;
}

header div.name h1 img {
  height: 45px;
}

header div.name p.front {
  margin: 0;
  font-size: 30px;
}

header div.name p.front span {
  font-style: italic;
}

header figure {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
}

header figure img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

header .meet-me {
  position: absolute;
  left: 50%;
  top: 85%;
  font-size: 30px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  text-align: center;
}

header .meet-me img {
  height: 30px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@media (max-width: 620px) {
  header nav ul li a {
    font-size: 24px;
  }
  header div.name {
    top: 63%;
  }
  header div.name h1 {
    font-size: 26px;
  }
  header div.name h1 img {
    height: 45px;
  }
  header div.name p.front {
    margin: 0;
    font-size: 22px;
  }
  header div.name p.front span {
    font-style: italic;
  }
  header figure {
    height: 350px;
    width: 350px;
    top: 16%;
    left: 50%;
  }
  header .meet-me {
    left: 50%;
    top: 88%;
    font-size: 22px;
  }
}

@media (max-width: 420px) {
  header nav ul li a {
    font-size: 18px;
  }
  header div.name {
    top: 63%;
  }
  header div.name h1 {
    font-size: 23px;
  }
  header div.name h1 img {
    height: 45px;
  }
  header div.name p.front {
    margin: 0;
    font-size: 20px;
  }
  header div.name p.front span {
    font-style: italic;
  }
  header figure {
    height: 250px;
    width: 250px;
    top: 16%;
    left: 50%;
  }
  header .meet-me {
    left: 50%;
    top: 88%;
    font-size: 20px;
  }
}

.about {
  position: relative;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about div {
  position: relative;
  width: 40%;
  height: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.introduce,
.story {
  font-size: 22px;
  text-align: center;
}

@media (max-width: 620px) {
  .about {
    padding-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about div {
    width: 60%;
  }
  .introduce,
  .story {
    font-size: 17px;
    text-align: center;
  }
}

@media (max-width: 620px) and (max-width: 420px) {
  .about {
    padding-bottom: 15px;
  }
  .about div {
    width: 80%;
  }
  .introduce,
  .story {
    font-size: 15px;
    text-align: center;
  }
}

footer {
  width: 100%;
  height: 6vh;
  background-color: black;
  color: black;
  font-size: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .info {
  position: absolute;
  left: 96%;
  top: 40%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

footer .author {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
}

footer div {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

footer div a {
  color: black;
  text-decoration: none;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.info:hover ~ div > a {
  color: white;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.info:hover ~ div {
  color: white;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.info:hover ~ .author {
  color: black;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media (max-width: 620px) {
  footer .info {
    left: 91%;
    top: 25%;
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
  footer .author {
    font-size: 15px;
  }
  footer div {
    height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    font-size: 9px;
  }
}

@media (max-width: 420px) {
  footer .info {
    left: 92%;
    top: 24%;
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
  footer .author {
    font-size: 13px;
  }
  footer div {
    height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    font-size: 8px;
  }
  footer div a {
    color: black;
    text-decoration: none;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
}

.skills {
  height: 90vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills p {
  text-align: center;
  margin-top: 100px;
}

.skills .skill-set {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill-set .skill {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill-set .skill img {
  width: 400px;
  height: 400px;
}

.skills .skill-set .skill p {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 1020px) {
  .skills p {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
  }
  .skills .skill-set .skill {
    width: 400px;
    height: 500px;
  }
  .skills .skill-set .skill img {
    width: 250px;
    height: 250px;
  }
  .skills .skill-set .skill p {
    font-size: 19px;
  }
}

@media (max-width: 620px) {
  .skills p {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
  }
  .skills .skill-set .skill {
    width: 220px;
    height: 220px;
  }
  .skills .skill-set .skill img {
    width: 170px;
    height: 170px;
  }
  .skills .skill-set .skill p {
    font-size: 19px;
  }
}

@media (max-width: 420px) {
  .skills p {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
  }
  .skills .skill-set .skill {
    width: 120px;
    height: 140px;
  }
  .skills .skill-set .skill img {
    width: 120px;
    height: 120px;
  }
  .skills .skill-set .skill p {
    font-size: 16px;
  }
}

.projects {
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.projects p {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}

.projects figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.projects figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  margin-bottom: 80px;
}

@media (max-width: 620px) {
  .projects p {
    font-size: 35px;
    margin-top: 50px;
  }
}

@media (max-width: 420px) {
  .projects p {
    font-size: 30px;
    margin-top: 50px;
  }
}

.contact {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact p {
  font-size: 30px;
  text-align: center;
}

.contact .wrapper {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .wrapper .details {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 25px;
}

.contact .wrapper .details i {
  font-size: 30px;
  padding: 0 30px;
}

.contact .wrapper figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
  width: 40%;
}

.contact .wrapper figure img {
  width: 100%;
}

@media (max-width: 1020px) {
  .contact {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact p {
    font-size: 26px;
  }
  .contact .wrapper {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .wrapper .details {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .contact .wrapper .details i {
    font-size: 30px;
    padding: 0 30px;
  }
  .contact .wrapper figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30;
    height: 100%;
    width: 80%;
    overflow: hidden;
  }
  .contact .wrapper figure img {
    width: 55%;
  }
}

@media (max-width: 620px) {
  .contact p {
    font-size: 20px;
  }
  .contact .wrapper {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .wrapper .details {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .contact .wrapper .details i {
    font-size: 30px;
    padding: 0 30px;
  }
  .contact .wrapper figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30;
    height: 100%;
    width: 80%;
    overflow: hidden;
  }
  .contact .wrapper figure img {
    width: 85%;
  }
}

@media (max-width: 420px) {
  .contact p {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .contact .wrapper .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px;
  }
  .contact .wrapper .details .detail {
    margin-left: 13%;
  }
  .contact .wrapper .details i {
    font-size: 24px;
    padding: 0 30px;
  }
  .contact .wrapper figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30;
    height: 100%;
    width: 70%;
    overflow: hidden;
  }
}
/*# sourceMappingURL=stylee.css.map */